.carrossel__titulo {
    color: var(--laranja);
    background: var(--branco);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-pagination {
    position: initial;
    margin: 5em 0;
}