.contato {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2em;
    padding: 3em 0;
}

.contato__titulo {
    font-size: 24px;
    font-weight: 500;
    color: var(--azul);
    margin: 1em 0;
    background: var(--teste, linear-gradient(160deg, #002F52 0%, #326589 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contato__texto {
    font-weight: 300;
    color: var(--azul);
}

.contato__email {
    padding: 1em;
    border:  solid var(--azul);
    border-radius: 22px;
    height: 16px;
    width: 40%;
}

.contato__email::placeholder {
    font-family: 'Poppins', sans-serif;
    color: var(--azul);
    background: url(../img/mail_black_24dp\ 1.svg) no-repeat;
    padding-left: 2.2em;
}