.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 4em;
}

.topicos__titulo {
    color: var(--branco);
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2em;
}

.topicos__lista {
    display: flex;
    row-gap: 4em;
    flex-wrap: wrap;
    justify-content: center;
}

/* .topicos__lista-1, .topicos__lista-2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} */

.topicos__link {
    text-decoration: none;
    color: var(--branco);
    background: var(--laranja);
    padding: 24px 36px;
    margin: 0 1em;
}